body {
  background-color: aquamarine;
}
.col-md-6 {
  border-style: outset;
  margin-top: 150px !important;
  padding: 20px;
  text-align: center;
}
button {
  margin: 20px !important;
  border: 2px solid black !important;
  line-height: 2.5;
  padding: 0 2.5px;
  font-size: 1rem;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
}

h1 {
  font-weight: bolder !important;
  margin: 20px !important;
}
.container {
  background-image: conic-gradient(rebeccapurple, teal, green, blue, purple);
}
.btn1 {
  background-color: greenyellow;
}

.btn2 {
  background-color: lightcoral;
}
.btn3 {
  background-color: blueviolet;
}
